.FeedbackButton {
  margin: auto;
  width: 125px;
  padding: 10px;
  background-color: lemonchiffon;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid rgb(179, 212, 171);
  outline-style: none;
  border-radius: 5px;

  &:not(:last-child) {
    margin-right: 7px;
  }
  &:hover,
  &:focus {
    background-color: darkolivegreen;
    color: aliceblue;
  }
}
